{% extends './base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="card col-md-6">

            <h3 class="text-center">Add Student</h3>
            <form method="post" action="." enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    {% include './common_fields.html' with field=field %}
                {% endfor %}
                <div class="text-center m-4">
                    <button type="submit" class="btn btn-sm btn-primary"> Submit </button>

                </div>
            </form>
        </div>
        <div class="card col-md-6">
            <h3 class="text-center"> Student List </h3>
            <ul class="list-group">
                {% if profiles %}
                {% for profile in profiles %}
                    <li class="list-group-item">
                        <div class="d-flex justify-content-between">
                            <div >
                                {{ profile.name }}
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal_{{profile.id}}" tabindex="-1" aria-labelledby="exampleModalLabel_{{profile.id}}" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel_{{profile.id}}">Confirmation</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    Are you sure you want to delete this record ?
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <a href="{% url 'profile_delete' id=profile.id %}" type="button" class="btn btn-primary">Save changes</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div >
                                <a href="{% url 'single_profile' id=profile.id %}" class="btn btn-success btn-sm">View</a>
                                <a href="{% url 'single_profile_update' id=profile.id %}" class="btn btn-primary btn-sm">Edit</a>
                                <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal_{{profile.id}}">Delete</button>
                            </div>
                        </div>

                    </li>
                {% endfor %}
                {% else %}
                <li class="list-group-item">There are no any Students</li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock content %}