<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Formsets</title>
</head>
<body>
<div class="container bg-dark">
   <form method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    <div id="formset-container">
        {% for form in formset %}
            <div class="form-row dynamic-form">
                <div class="col-md-4 offset-md-2">
                    <input type="text" name="{{ formset.prefix }}-{{ forloop.counter0 }}-name" class="form-control" >
                </div>
                <div class="col-md-4">
                    <input type="description" name="{{ formset.prefix }}-{{ forloop.counter0 }}-description" class="form-control" >
                </div>
                <div class="col-md-2 form-row-actions">
                    <button type="button" class="btn btn-danger delete-row">Remove</button>
                    <input type="checkbox" class="d-none" name="{{ formset.prefix }}-{{ forloop.counter0 }}-DELETE" id="id_{{ formset.prefix }}-{{ forloop.counter0 }}-DELETE">
                </div>
            </div>
        {% endfor %}
    </div>
       <div class="d-flex justify-content-end">
               <button type="button" id="add-row" class="btn btn-primary">Add Row</button>
       </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="{% static 'dynamic_formsets/js/jquery.formset.js' %}"></script>
    <script>
        $(function() {
            $('#add-row').click(function() {
                var formCount = parseInt($('#id_form-TOTAL_FORMS').val());
                var template = $('#form-template').html().replace(/__prefix__/g, formCount);
                $('#formset-container').append(template);
                $('#id_form-TOTAL_FORMS').val(formCount + 1);
                $('#formset-container .dynamic-form:last .delete-row').click(function() {
                    $(this).parents('.dynamic-form').find('input[name$="DELETE"]').prop('checked', true);
                    $(this).parents('.dynamic-form').hide();
                });
                $('#formset-container .dynamic-form:last .form-row-actions').append($('<input>', {type:'checkbox',class:'d-none', name: 'form-' + formCount + '-DELETE', id: 'id_form-' + formCount + '-DELETE'}));
            });

            $('.delete-row').click(function() {
                $(this).parents('.dynamic-form').find('input[name$="DELETE"]').prop('checked', true);
                $(this).parents('.dynamic-form').hide();
            });
        });
    </script>

    <div id="form-template" style="display: none;">
        <div class="form-row dynamic-form">
            <div class="col-md-4 offset-md-2">
                <input type="text" name="{{ formset.prefix }}-__prefix__-name" class="form-control">
            </div>
            <div class="col-md-4">
                <input type="description" name="{{ formset.prefix }}-__prefix__-description" class="form-control">
            </div>
            <div class="col-md-2 form-row-actions">
                <button type="button" class="btn btn-danger delete-row">Remove</button>
            </div>
        </div>
    </div>
   <div class="row">
            <div class="offset-3 col-4">
                    <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>

</form>

</div>

</body>
</html>